<% include header %>

	<h1>Get the weather forecast of your location</h1>

	<form class='pure-form'>
		<fieldset>
			<input type='submit' class='pure-button pure-button-primary' value='Fetch weather'>
		</fieldset>
	</form>
	<script src='jquery.min.js'></script>
	<script src='main.js'></script>

<% include footer %>
